---
title: Specials
description: Check Our Specials
eleventyExcludeFromCollections: true
eleventyNavigation:
  key: "Specials"
  order: 4
---

		<!-- Specials Section -->
		<section id="specials" class="specials section">

			<!-- Section Title -->
			<div class="container section-title">
				<h1>{{ title }}</h1>
				<p>{{ description }}</p>
			</div><!-- End Section Title -->

			<div class="container">

				{% include "partials/specials.njk" %}

			</div>

		</section><!-- /Specials Section -->
